* {
  box-sizing: border-box;  /*padding과 border가 width, height에 포함*/
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: antiquewhite;
}

.nav-logo {
  color: green;
  margin-right: 0.5em;
}

.navbar-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  background-color: green;
  color: white;
  border-radius: 50%;
}

.habit{
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover { /* 버튼에 마우스를 올리면 살짝 투명해지도록*/
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  color: darkred;
}

.add-form {
  font-size: 2.5rem;
  color: gray;
  margin-left: 0.2em;
  margin-top: 1em;
}

.add-button {
  font-size: 2.5rem;
  background-color: green;
  color: white;
  /* width: 2.5rem;
  height: 3.5em; */
  margin-left: 0.5em;
}